@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add spacing to account for the navbar height */
.navbar-offset {
  margin-top: 6rem; /* Adjust this value based on the navbar height */
}

@keyframes slideWorld {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2000px 0; /* Adjust speed */
  }
}

.slide-world {
  animation: slideWorld 80s linear infinite;
  filter: blur(1px);
  opacity: 0.08;
}


/* Infinite Scroll Animation */
@keyframes infinite-scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.scroller {
  display: flex;
  width: max-content;
  animation: infinite-scroll 30s linear infinite;
  margin-right: 4rem;
}